@extends _base.html

<% block content %>
<% if(this.lang === 'ru') { %>
<b>Важные даты</b>
<table class="table table-bordered table-striped">
    <tr>
        <td>15 марта 2016 года</td>
        <td>Старт подачи заявок на участие и тезисов докладов</td>
    </tr>
    <tr>
        <td>1 июля 2016 года</td>
        <td>Крайний срок подачи заявок на участие и тезисов докладов,<br /> рассылка уведомлений о принятии докладов,<br /> рассылка информационного сообщения №2,<br /> начало оплаты оргвзносов</td>
    </tr>
    <tr>
        <td>1 августа 2016 года</td>
        <td>Рассылка предварительной программы конференции</td>
    </tr>
    <tr>
        <td>15 августа 2016 года</td>
        <td>Крайний срок оплаты оргвзноса</td>
    </tr>
    <tr>
        <td>20 сентября 2016 года</td>
        <td>Открытие конференции</td>
    </tr>
</table>
<% } 

else { %>
<b>Important dates</b>
<table class="table table-bordered table-striped">
    <tr>
        <td>March 15, 2016</td>
        <td>Call for Abstracts: Application and Abstracts Submission</td>
    </tr>
    <tr>
        <td>July 1, 2016</td>
        <td>Deadline for Application and Abstracts Submission, Acceptance Notification, Second Circular, Registration Fee Payment</td>
    </tr>
    <tr>
        <td>August 1, 2016</td>
        <td>Preliminary Program of the Conference</td>
    </tr>
    <tr>
        <td>August 15,2016</td>
        <td>Deadline for Registration Fee Payment</td>
    </tr>
    <tr>
        <td>September 20, 2016</td>
        <td>Opening of the Conference</td>
    </tr>
</table>
<% } %>
<% endblock %>