@extends _base.html

<% block content %>

<b>Важные даты</b>
<table class="table table-bordered table-striped">
    <tr>
        <td>15 апреля 2016 года</td>
        <td>Подача заявки на участие и тезисов докладов</td>
    </tr>
    <tr>
        <td>1 июля 2016 года</td>
        <td>Уведомление о принятии докладов, рассылка Информационного сообщения №2</td>
    </tr>
    <tr>
        <td>10 июля 2016 года</td>
        <td>Рассылка предварительной программы конференции</td>
    </tr>
    <tr>
        <td>15 июля 2016 года</td>
        <td>Подтверждение участия, оплата взноса</td>
    </tr>
    <tr>
        <td>1 сентября 2016 года</td>
        <td>Рассылка программы конференции</td>
    </tr>
    <tr>
        <td>20сентября 2016 года</td>
        <td>Открытие конференции</td>
    </tr>
</table>

<% endblock %>