@extends _base.html

<% block content %>

<p>
    <b>МЕСТО ПРОВЕДЕНИЯ КОНФЕРЕНЦИИ</b><br />
    Конференция состоится в кампусе ДВФУ на острове Русский. Кампус расположен в ... Оргкомитет надеется, что место проведения запомнится участникам конференции морской спецификой, золотистым осенним убранством, спокойной атмосферой и прогулками по берегам бухт залива Петра Великого. <br /><br />

    <b>РАЗМЕЩЕНИЕ УЧАСТНИКОВ</b><br />
    Размещение участников конференции планируется в корпусах кампуса ДВФУ. Стоимость проживания одного человека варьируется от ….. до ….. руб./сутки в зависимости от категории номера. В стоимость включено проживание в номерах с удобствами. Более подробная информация о категории номеров представлена в таблице. Оплата за проживание осуществляется при заселении за наличный расчет. Всем участникам будут выданы необходимые документы, подтверждающие оплату проживания. Запрос о бронировании номеров с указанием даты и времени прибытия следует отправлять по адресу электронной почты Оргкомитета конференции info@rescb.ru<br /><br />

    <b>ПРОЕЗД ДО МЕСТА ПРОВЕДЕНИЯ КОНФЕРЕНЦИИ</b><br />
    Оргкомитет конференции организует встречу иногородних участников конференции и трансфер к месту проведения конференции. Убедительная просьба заранее сообщить дату, время прибытия/отбытия и номер рейса/поезда по адресу электронной почты Оргкомитета info@rescb.ru<br /><br />

    До места проведения конференции также можно добраться общественным транспортом.<br /><br />

    <b>ОФОРМЛЕНИЕ КОМАНДИРОВОЧНЫХ УДОСТОВЕРЕНИЙ</b><br />
    При оформлении командировочных удостоверений в графе «пункты назначения, наименование организации» следует указывать: г. Владивосток, ФГАОУВПО«Дальневосточный федеральный университет» (ДВФУ).
</p>	


<% endblock %>