@extends _base.html

<% block content %>

<div id="myCarousel" style="width: 700px;" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active"><img class="first-slide" src="@{asset('i/vl/1.jpg')}" alt="Владивосток"></div>
        <div class="item"><img class="second-slide" src="@{asset('i/vl/2.jpg')}" alt="Владивосток"></div>
        <div class="item"><img class="third-slide" src="@{asset('i/vl/3.jpg')}" alt="Владивосток"></div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Назад</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Далее</span>
    </a>
</div>
<p>
<% if(this.lang === 'ru') { %>
	<br /><b>Уважаемые коллеги!</b><br /><br />
    <b>Дальневосточный федеральный университет</b> совместно с <b>Институтом химии ДВО РАН</b> и <b>Институтом неорганической химии им. А.В. Николаева СО РАН</b>

    приглашает Всех желающих, работающих в области применения рентгеновских и электронных спектров и родственных методов для изучения физики конденсированного состояния, принять участие в работе <b>XXII Всероссийской конференции c международным участием «Рентгеновские и электронные спектры и химическая связь» (РЭСХС-22)</b>, проводимой в кампусе <b>Дальневосточного федерального университета</b> 20-23 сентября 2016 года.<br /><br />

    XXII Всероссийская конференция c международным участием «Рентгеновские и электронные спектры и химическая связь» является очередной в цикле Всероссийских конференций, посвященных  применению и развитию рентгеновских и электронных методов исследования новых химических соединений и перспективных материалов. Последние две конференции проходили в 2010 и 2013 годах в Новосибирском научном центре  (РЭСХС-20, 21).<br /><br />

    Генеральный спонсор конференции: <br /><br />
    Официальный спонсор конференции: <br /><br />
    Спонсоры конференции:<br /><br />
    При финансовой поддержке РОССИЙСКОГО ФОНДА ФУНДАМЕНТАЛЬНЫХ ИССЛЕДОВАНИЙ
<% } 

else { %>
	<br /><b>Dear Colleagues!</b><br /><br />
    On September 20-23, 2016 the XXII Russian Conference with International Participation 
	“X-ray and Electronic Spectra and Chemical Bonding” (RESCB-22) will be orginized
	in Vladivostok, Russia by Far Eastern Federal University in cooperation with 
	Institute of Chemistry FEB RAS and Nikolaev Institute of Inorganic Chemistry SB RAS. <br /><br />

    <b>XXII Russian Conference with International Participation <br />
“X-ray and Electronic Spectra and Chemical Bonding” (RESCB-22)<br /><br />

September 20-23, 2016, Vladivostok, Russia<br /><br /></b>

The RESCB-22 is the next conference in a series of Russian conferences in the fields of development and application of X-ray and electronic spectroscopy (XPS, AES, NEXAFS, EXAFS, XES) and related methods for study of new chemical compounds and promising materials.The previous two RESCB conferences were held at Novosibirsk Research Center (2010, 2013).<br /><br />

<b>Topics of the Conference:</b>
<ul>
	<li>New theoretical methods for electronic structure simulation </li>
	<li>New scientific equipment</li>
	<li>Photoelectron spectroscopy and electronic Auger spectroscopy</li>
	<li>Photoelectrondiffraction</li>
	<li>X-ray emission spectroscopy. EXAFS,NEXAFS (XANES)</li>
	<li>Application of XPS for investigation of surface, catalysts, and semiconductors</li>
	<li>Application of XPS for study ofnanostructured functional materials</li>
</ul>

    General conference sponsor: <br /><br />
    Official conference sponsor: <br /><br />
    Conference sponsor: <br /><br />
    Supported by <a href="http://www.rfbr.ru/rffi/ru/" target="_blank">Russian Foundation for Basic Research</a>
<% } %>

</p>

<% endblock %>
