@extends _base.html

<% block content %>

<p>
    <b>Реклама, участие компаний</b><br />
    Оргкомитет приглашает компании, заинтересованные в презентации или рекламе своей продукции, принять участие в работе конференции и выступить ее спонсорами. В рамках конференции может быть организована выставка аналитического оборудования. Обращайтесь, пожалуйста, в Оргкомитет для обсуждения формы участия<br />
    Спонсорские пакеты (.pdf файл)<br /><br />

    <b>ГЕНЕРАЛЬНЫЙ СПОНСОР 80 000 руб.</b><br />
    <b>Спонсорский пакет включает в себя:</b><br />
    1. Предоставление статуса Генерального Спонсора конференции с выдачей соответствующего сертификата<br />
    2. Размещение фирменного наименования или товарного знака компании Генерального Спонсора с указанием категории спонсорства<br />
    a. на сайте конференции с активной ссылкой на действующую Веб-страницу компании,<br />
    b. в Программе конференции, в Сборнике материалов конференции и на Компакт-диске материалов конференции<br />
    c. в рекламных и информационных материалах конференции, информационных письмах, пресс-релизах, сообщениях Оргкомитета конференции в средствах массовой информации до начала, во время и после окончания работы конференции<br />
    3. Размещение рекламно-информационных материалов с фирменной символикой в папке участника конференции и распространение среди участников конференции в период ее проведения<br />
    4. Организация постоянной трансляции заставки Генерального спонсора на экране во время перерывов.<br />
    5. Участие двух представителей компании Генерального Спонсора в конференции без оргвзноса<br />
    6. Выступление представителя компании Генерального Спонсора с приветственной речью к участникам конференции на открытии конференции<br />
    7. Выступление представителя компании Генерального Спонсора с устным докладом в пленарной сессии программы конференции (20 минут)<br />
    8. Публикация рекламной страницы компании Генерального Спонсора (1 цветная страница) в Сборнике материалов конференции<br />
    9. Размещение рекламного стенда и выставочных материалов Генерального Спонсора в  фойе места проведения конференции<br />
    10. Размещение рекламного постера Генерального Спонсора в месте проведения стендовой сессии<br />
    11. Приглашение специалистов отрасли к участию в конференции по рекомендации компании Генерального Спонсора<br /><br />

    <b>ОФИЦИАЛЬНЫЙ СПОНСОР 50 000 руб.</b><br />
    <b>Спонсорский пакет включает в себя:</b><br />
    1. Предоставление статуса Официального Спонсора конференции с выдачей соответствующего сертификата<br />
    2. Размещение фирменного наименования или товарного знака компании Официального Спонсора с указанием категории спонсорства<br />
    a. на сайте конференции с активной ссылкой на действующую Веб-страницу компании,<br />
    b. в Программе конференции, в Сборнике материалов конференции и на Компакт-диске материалов конференции<br />
    c. в рекламных и информационных материалах конференции, информационных письмах, пресс-релизах, сообщениях Оргкомитета конференции в средствах массовой информации до начала, во время и после окончания работы конференции<br />
    3. Размещение рекламно-информационных материалов с фирменной символикой в папке участника конференции и распространение среди участников конференции в период ее проведения<br />
    4. Участие одного представителя компании Официального Спонсора в конференции без оргвзноса<br />
    5. Выступление представителя компании Официального Спонсора с устным докладом в секционной сессии программы конференции (10 минут)<br />
    6. Публикация рекламной страницы компанииОфициального Спонсора (1 цветная страница) в Сборнике материалов конференции<br />
    7. Размещение рекламного стенда и выставочных материалов Официального Спонсора в  фойе места проведения конференции<br />
    8. Размещение рекламного стенда Официального Спонсора в месте проведения стендовой сессии<br />
    9. Приглашение специалистов отрасли к участию в конференции по рекомендации компании Официального Спонсора<br /><br />

    <b>СПОНСОР 30 000 руб.</b><br />
    <b>Спонсорский пакет включает в себя:</b><br />
    1. Предоставление статуса Спонсора конференции с выдачей соответствующего сертификата<br />
    2. Размещение фирменного наименования или товарного знака компании Спонсора с указанием категории спонсорства<br />
    a. на сайте конференции с активной ссылкой на действующую Веб-страницу компании,<br />
    b. в Программе конференции, в Сборнике материалов конференции и на Компакт-диске материалов конференции<br />
    c. в рекламных и информационных материалах конференции, информационных письмах, пресс-релизах, сообщениях Оргкомитета конференции в средствах массовой информации до начала, во время и после окончания работы конференции<br />
    3. Размещение рекламно-информационных материалов с фирменной символикой в папке участника конференции и распространение среди участников конференции в период ее проведения<br />
    4. Выступление представителя компании Спонсора с устным докладом в секционной сессии программы конференции (10 минут)<br />
    5. Публикация рекламной страницы компании Спонсора (1 цветная страница) в Сборнике материалов конференции<br />
    6. Размещение рекламного стенда и выставочных материалов Спонсора в  фойе места проведения конференции<br />
    7. Приглашение специалистов отрасли к участию в конференции по рекомендации компании Спонсора<br /><br />

    <b>ОТДЕЛЬНЫЕ ПРЕДЛОЖЕНИЯ</b><br />
    1. Распространение рекламных материалов – 5 000 руб.<br />
    2. Размещение рекламного стенда и выставочных материалов Спонсора в  фойе места проведения конференции – 10 000 руб.<br />
    3. Информационная презентация - устное выступление представителя компании в секционной сессии (10 минут) – 10 000 руб.<br />
    4. Научный доклад в секционной сессии – 7 000 руб.<br />
    5. Проведение семинара в рамках конференции (длительностью до 2-х часов) в статусе параллельной сессии с привлечением в качестве слушателей заинтересованных участников конференции и специалистов из организаций Академгородка и Новосибирска – 30 000 руб.<br /><br />

    <b>Все рекламно-информационные материалы (стенды, постеры, брошюры) предоставляются спонсором!</b><br />
</p>	

<% endblock %>