@extends _base.html

<% block content %>

<p><b>ОРГАНИЗАТОРЫ КОНФЕРЕНЦИИ</b><br />
    &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;Дальневосточный федеральный университет, Владивосток<br />
    &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;Институт химии ДВО РАН, Владивосток<br />
    &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;Институт неорганической химии им. А.В. Николаева СО РАН, Новосибирск<br /><br />

    <b>ПРОГРАММНЫЙ КОМИТЕТ</b><br />
    <b>Председатель</b><br />
    Сергиенко В.И., д.х.н., академик РАН, ИХ ДВО РАН, Владивосток<br /><br />

    Вовна В.И., д.х.н., ДВФУ, Владивосток<br />
    БоронинА.И., д.ф.-м.н., ИК СО РАН, Новосибирск<br />
    Виноградов А.С., д.ф.-м.н., профессор, СПбГУ, Санкт-Петербург<br />
    Домашевская Э.П., д.ф.-м.н., профессор, ВГУ, Воронеж<br />
    Игнатьева Л.Н., д.х.н., ИХ ДВО РАН, Владивосток<br />
    Кочур А.Г., д.ф.-м.н., профессор, РГУПС, Ростов-на-Дону<br />
    Курмаев Э.З., д.ф.-м.н., ИФМ УрО РАН, Екатеринбург<br />
    Мазалов Л.Н., д.ф.-м.н., профессор, ИНХ СО РАН, Новосибирск<br />
    Окотруб А.В., д.ф.-м.н., ИНХ СО РАН, Новосибирск<br />
    Солдатов А.В., д.ф.-м.н., Южный федеральный университет, Ростов-на-Дону<br />
    Тетерин Ю.А., д.ф.-м.н., РНЦ «Курчатовский институт», Москва<br />
    Чижов Ю.В., д.ф.-м.н., профессор, СПбГУ, Санкт-Петербург<br />
    Шабанова И.Н., д.ф.-м.н., ФТИ УрО РАН, Ижевск<br />
    Шикин А.М., д.ф.-м.н., профессор, СПбГУ, Санкт-Петербург<br />
    Яржемский В.Г., д.х.н., внс, ИОНХ РАН, Москва<br /><br />

    <b>ОРГАНИЗАЦИОННЫЙ КОМИТЕТ</b><br />
    <b>Председатель</b><br />
    Щека О.Л., д.ф.-м.н., профессор, зам.проректора по науке и инновациям, ДВФУ, Владивосток<br /><br />

    Ступницкая Н.А., зам.проректора по науке и инновациям, ДВФУ, Владивосток<br />
    Устинов А.Ю., д.ф.-м.н., профессор, гнс, ДВФУ, Владивосток<br />
    Чередниченко А.И., д.ф.-м.н., доцент, гнс, ДВФУ, Владивосток<br />
    Вовна В.И., д.ф.-м.н., профессор, внс, ДВФУ, Владивосток<br />
    Окотруб А.В., д.ф.-м.н., ИНХ СО РАН, Новосибирск<br />
    Львов И.Б., к.х.н., доцент, снс, ДВФУ, Владивосток<br />
    Харченко В.И., к.х.н., внс, ДВФУ, Владивосток<br />
    Короченцев В.В., к.х.н.,доцент, зав. кафедрой общей физики, ДВФУ, Владивосток<br />
    Осьмушко И.С., к.х.н.,доцент кафедры общей физики, ДВФУ, Владивосток<br />
    Рябченко О.Б., к.х.н.,доцент кафедры теоретической и экспериментальной физики, ДВФУ, Владивосток<br />
    Доценко Е.В., зав. лабораторией кафедры общей физики, ДВФУ, Владивосток<br />
    Морев И.А., к.ф.-м.н., доцент, снс, ДВФУ, Владивосток<br />
</p>

<% endblock %>