@extends _base.html

<% block content %>

<h3>Личный кабинет</h3>
<p>Здравствуйте, <b>Иванов Иван Иванович</b>.</p>
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#theses" aria-controls="theses" role="tab" data-toggle="tab">Подача тезисов</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Настройка личных данных</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Еще одна опции на всяки случай</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="theses">
            <div class="panel panel-info" style="margin-top: 20px;">
                <div class="panel-heading">
                    <div class="panel-title">Форма подачи тезисов</div>
                </div>     
                <div style="padding-top:30px" class="panel-body" >
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="sp_user_personal_lastName" class="control-label col-sm-3 required">Форма презентации</label>
                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option>Устный доклад</option>
                                    <option>Стендовый доклад</option>
                                    <option>Участие без доклада</option>
                                    <option>Зочное участие</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sp_user_personal_lastName" class="control-label col-sm-3 required">Секция</label>
                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option>Фотоэлектронная спектроскопия и электронная Оже-спектроскопия</option>
                                    <option>Рентгеновская эмиссионная спектроскопия.EXAFS,NEXAFS (XANES)</option>
                                    <option>Фотоэлектронная дифракция</option>
                                    <option>Новые теоретические подходы в описании электронной структуры</option>
                                    <option>Применение фотоэлектронной спектроскопии для исследования поверхности, катализаторов и полупроводников</option>
                                    <option>Применение фотоэлектронной спектроскопии для исследования наноструктурныхи функциональных материалов</option>
                                    <option>Новые разработки лабораторных приборов</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title-of-the-report" class="control-label col-sm-3 required">Название доклада</label>
                            <div class="col-sm-9"><input type="text" id="title-of-the-report" name="title-of-the-report" required="required" class="form-control" value="" /></div>
                        </div>
                        <div class="form-group">
                            <label for="theses-file" class="control-label col-sm-3 required">Файл тезисов</label>
                            <div class="col-sm-9"><input id="theses-file" name="theses-file" required="required" class="form-control" type="file"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-3">
                                <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#Modal-Thesis">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="settings">
            <div class="panel panel-info" style="margin-top: 20px;">
                <div class="panel-heading">
                    <div class="panel-title">Личные данные</div>
                </div>     
                <div style="padding-top:30px" class="panel-body" >
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="LastName" class="control-label col-sm-3 required">Фамилия</label>
                            <div class="col-sm-9"><input type="text" id="LastName" name="LastName" required="required" class="form-control" value="Иванов" /></div>
                        </div>
                        <div  class="form-group">
                            <label for="FirstName" class=" control-label col-sm-3 required">Имя</label>
                            <div class="col-sm-9">
                                <input type="text" id="FirstName" name="FirstName" required="required" class="form-control" value="Иван" />
                            </div>
                        </div>
                        <div  class="form-group">
                            <label for="Patronimic" class=" control-label col-sm-3 required">Отчество</label>
                            <div class="col-sm-9">
                                <input type="text" id="Patronimic" name="Patronimic" required="required" class="form-control" value="" />
                            </div>
                        </div>
                        <div  class="form-group">
                            <label for="BirthDate" class=" control-label col-sm-3 required">День рождения</label>
                            <div class="col-sm-3">
                                <input type="text" id="BirthDate" name="" required="required" class="form-control" value="20.11.1990" />
                            </div>
                        </div>
                        <div  class="form-group">
                            <label for="gender" class=" control-label col-sm-3 required">Пол</label>
                            <div class="col-sm-3">
                                <select id="gender" name="gender" class="form-control">
                                    <option value="0"></option>
                                    <option value="1" selected="selected">Мужской</option>
                                    <option value="2">Женский</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-3">
                                <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#Modal-Save">Сихранить изменения</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">None
        </div>
    </div>
</div>

<% endblock %>