@extends _base.html

<% block content %>

<b>РАЗМЕР РЕГИСТРАЦИОННОГО ВЗНОСА</b>
<table class="table table-bordered table-striped">

    <tr>
        <td>Участники из академических организаций, <br />ВУЗов,<br /> промышленных предприятий и компаний</td>
        <td>5000 <span class="rur">p<span>уб.</span></span></td>
    </tr>
    <tr>
        <td>Студенты и аспиранты</td>
        <td>бесплатно</td>
    </tr>
    <tr>
        <td>Зарубежные участники</td>
        <td>10000 <span class="rur">p<span>уб.</span></span></td>
    </tr>
</table>
<p>
    Организационный взнос включает в себя затраты на издание сборника тезисов и информационных материалов, аренду помещений, кофе во время перерывов, прием по случаю открытия конференции, социальную программу.<br /><br />

	<b>Как внести регистрационный взнос через терминал (банкомат)  Сбербанка:</b><br />
Вставьте карту (если будете платить со своего счета). В открывающихся окнах выбора нажимайте последовательно:<br />
<ul>
<li>1.	«оплатить услуги»<br /></li>
<li>2.	«образование, сады, школы, вузы»<br /></li>
<li>3.	«вузы»<br /></li>
<li>4.	«ДВФУ г. Владивосток» (регион Приморский край)<br /></li>
<li>5.	«услуги»<br /></li>
<li>6.	с условиями оплаты «согласен»<br /></li>
<li>7.	«семинары/ конференции/ seminars/ conferences»<br /></li>
<li>8.	«рентг и электр спектры и хим связь, росс 5000»,  либо «рентг и электр спектры и хим связь, зарубеж 10000»<br /></li>
<li>9.	далее внесите данные для квитанции об оплате</li>
</ul>
<b>Как внести регистрационный взнос через «Сбербанк-онлайн»:</b><br />
<li>1.	«Переводы и платежи»;<br /></li>
<li>2.	«Образование»: «ВУЗы, школы, колледжи, техникумы»;<br /></li>
<li>3.	«ДВФУ г. Владивосток»  (регион Приморский край); <br /></li>
<li>4.	Выберите услугу: «ДВФУ Услуги»;<br /></li>
<li>5.	Услуга: «СЕМИНАРЫ/КОНФЕРЕНЦИИ/SEMINARS/CONFERENCES»;<br /></li>
<li>6.	Вид услуги: <br />
«РЕНТГ И ЭЛЕКТР СПЕКТРЫ И ХИМ СВЯЗЬ, РОСС 5000» или «РЕНТГ И ЭЛЕКТР СПЕКТРЫ И ХИМ СВЯЗЬ, ЗАРУБ 10000»<br /></li>
<li>7.	ФИО;<br /></li>
<li>8.	Сумма платежа (5000 или 10000);<br /></li>
<li>9.	Подтверждение платежа.</li>
</ul><br />

<b>Организационный взнос можно оплатить наличными при регистрации.</b><br /><br />

    Для оплаты организационного взноса необходимо заключить договор между участником конференции (или его работодателем) и ДВФУ.
    Процедура заключения договора:<br />
	<ol>
    <li>Заполнить <a class="disabled">форму договора</a> (будет доступна во время регистрации на конференцию в сентябре):<br />
		<ul>
			<li>вписать плательщика, Ф.И.О. участника и банковские реквизиты плательщика<br /></li>
			<li>поставить дату<br /></li>
			<li>проверить и, при необходимости, изменить сумму оплаты<br /></li>
		</ul>
	</li>
    <li>Подписать 2 экземпляра договора и акта сдачи-приёмки у плательщика.<br /></li>
    <li>Отсканировать и направить сканы организаторам конференции на электронный адрес Оргкомитета info@rescb.ru.<br /></li>
    <li>Оплатить счёт, который будет направлен в ответном письме.<br /></li>
    <li>Привезти на конференцию и сдать организаторам 2 подписанных экземпляра договора и акта сдачи-приёмки и подтверждение об оплате (копию платежного поручения с отметкой банка).<br /></li>
    <li>Забрать подписанные в ДВФУ экземпляры договора и акта сдачи-приёмки и счет-фактуру перед отъездом.<br /><br /></li>
	</ol>
    По вопросам, связанным с оплатой, обращайтесь к <b><a href="mailto:info@rescb.ru">организаторам конференции</a></b>.
</p>	

<% endblock %>