@extends _base.html

<% block content %>

<b>Размер регистрационного взноса, руб.</b>
<table class="table table-bordered table-striped">
    <tr>
        <td></td>
        <td>до 1 сентября</td>
        <td>после 1 сентября</td>
    </tr>
    <tr>
        <td>Участники из академических организаций, <br />ВУЗов, промышленных предприятий и компаний</td>
        <td>5000</td>
        <td>5000</td>
    </tr>
    <tr>
        <td>Студенты и аспиранты</td>
        <td>бесплатно</td>
        <td>бесплатно</td>
    </tr>
    <tr>
        <td>Зарубежные участники</td>
        <td>10000</td>
        <td>10000</td>
    </tr>
</table>
<p>
    Организационный взнос включает в себя затраты на издание сборника тезисов и информационных материалов, аренду помещений, кофе во время перерывов, обеды, прием по случаю открытия конференции, социальную программу.<br /><br />

    Для оплаты организационного взноса необходимо заключить договор между участником конференции (или его работодателем) и ДВФУ. Форма договора.<br />
    Процедура заключения договора:<br />
    1. Заполнить <b>форму договора</b>:<br />
    &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;вписать плательщика, Ф.И.О. участника и банковские реквизиты плательщика<br />
    &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;поставить дату<br />
    &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;проверить и, при необходимости, изменить сумму оплаты<br />
    2. Подписать 2 экземпляра договора и акта сдачи-приёмки у плательщика.<br />
    3. Отсканировать и направить сканы организаторам конференции на электронный адрес Оргкомитета info@rescb.ru.<br />
    4. Оплатить счёт, который будет направлен в ответном письме.<br />
    5. Привезти на конференцию и сдать организаторам 2 подписанных экземпляра договора и акта сдачи-приёмки и подтверждение об оплате (копию платежного поручения с отметкой банка).<br />
    6. Забрать подписанные в ДВФУ экземпляры договора и акта сдачи-приёмки и счет-фактуру перед отъездом.<br /><br />

    По вопросам, связанным с оплатой обращайтесь к <b>организаторам конференции</b>.
</p>	

<% endblock %>