@extends _base.html

<% block content %>

<b>РАЗМЕР РЕГИСТРАЦИОННОГО ВЗНОСА</b>
<table class="table table-bordered table-striped">

    <tr>
        <td>Участники из академических организаций, <br />ВУЗов,<br /> промышленных предприятий и компаний</td>
        <td>5000 <span class="rur">p<span>уб.</span></span></td>
    </tr>
    <tr>
        <td>Студенты и аспиранты</td>
        <td>бесплатно</td>
    </tr>
    <tr>
        <td>Зарубежные участники</td>
        <td>10000 <span class="rur">p<span>уб.</span></span></td>
    </tr>
</table>
<p>
    Организационный взнос включает в себя затраты на издание сборника тезисов и информационных материалов, аренду помещений, кофе во время перерывов, прием по случаю открытия конференции, социальную программу.<br /><br />

    Для оплаты организационного взноса необходимо заключить договор между участником конференции (или его работодателем) и ДВФУ. <a class="disabled">Форма договора</a>.<br />
    Процедура заключения договора:<br />
	<ol>
    <li>Заполнить <a class="disabled">форму договора</a>:<br />
		<ul>
			<li>вписать плательщика, Ф.И.О. участника и банковские реквизиты плательщика<br /></li>
			<li>поставить дату<br /></li>
			<li>проверить и, при необходимости, изменить сумму оплаты<br /></li>
		</ul>
	</li>
    <li>Подписать 2 экземпляра договора и акта сдачи-приёмки у плательщика.<br /></li>
    <li>Отсканировать и направить сканы организаторам конференции на электронный адрес Оргкомитета info@rescb.ru.<br /></li>
    <li>Оплатить счёт, который будет направлен в ответном письме.<br /></li>
    <li>Привезти на конференцию и сдать организаторам 2 подписанных экземпляра договора и акта сдачи-приёмки и подтверждение об оплате (копию платежного поручения с отметкой банка).<br /></li>
    <li>Забрать подписанные в ДВФУ экземпляры договора и акта сдачи-приёмки и счет-фактуру перед отъездом.<br /><br /></li>
	</ol>
    По вопросам, связанным с оплатой, обращайтесь к <b><a href="mailto:info@rescb.ru">организаторам конференции</a></b>.
</p>	

<% endblock %>