@extends _base.html

<% block content %>

<p>
    Научная программа конференции включает 7 пленарных лекций (40 минут), 40 устных докладов (20 минут), 6 устных докладов молодых ученых (15 минут), и 70 стендовых докладов.<br /><br />

    <b>ОСНОВНЫЕ НАУЧНЫЕ НАПРАВЛЕНИЯ<br />
        &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;Фотоэлектронная спектроскопия и электронная Оже-спектроскопия<br />
        &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;Рентгеновская эмиссионная спектроскопия.EXAFS,NEXAFS (XANES)<br />
        &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;Фотоэлектронная дифракция<br />
        &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;Новые теоретические подходы в описании электронной структуры<br />
        &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;Применение фотоэлектронной спектроскопии для исследования поверхности, катализаторов и полупроводников<br />
        &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;Применение фотоэлектронной спектроскопии для исследования наноструктурныхи функциональных материалов<br />
        &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;Новые разработки лабораторных приборов<br /><br />

        ПЛЕНАРНЫЕ ЛЕКЦИИ</b>
</p>	

<% endblock %>