@extends _base.html

<% block content %>

<p>
    <b>ЗАЯВКА НА УЧАСТИЕ</b><br /><br />

    Желающих принять участие в конференции просим заполнить регистрационную форму на сайте Конференции РЭСХС-22, ввести название доклада, желаемый статус доклада (устный, стендовый) и загрузить тезисы.<br /><br />

    Представление тезисов докладов<br /><br />

    Тезисы докладов 1 страница формата А4, включая рисунки, таблицы и список литературы, должны быть загружены на сайт <b>Конференции РЭСХС-22</b>.<br />
    Редактор – Microsoft Office Word.<br />
    Шрифт – Times New Roman<br />
    Размер шрифта - 12 пт<br />
    Междустрочный интервал – полуторный.<br /><br />

    За названием доклада (ПРОПИСНЫМИ БУКВАМИ, 14 pt) следуют фамилии авторов с верхними индексами, если они работают в разных организациях (буквы строчные), затем – названия организаций и E-mail докладчика (буквы строчные, курсив). Фамилию и инициалы докладчика необходимо подчеркнуть. Инициалы должны следовать за фамилиями авторов. Файлы следует называть полной транслитерированной фамилией представляющего автора, напр., Ivanov<br /><br />

    <a class="disabled">Пример оформления тезисов</a><br /><br />

    <b>ПРЕДСТАВЛЕНИЕ МАТЕРИАЛОВ</b><br /><br />

    Продолжительность <b>пленарных докладов – 40 мин</b>, включая время на вопросы. <br />
    Продолжительность <b>устных докладов – 20 мин</b>, включая время на вопросы. <br />
    Продолжительность <b>устных докладов молодых ученых – 15 мин</b>, включая время на вопросы. <br />
    Для демонстрации материалов докладчикам будет предоставлен компьютер и мультимедийный проектор. <br />
    Презентации рекомендуется готовить в формате .ppt или .pptx (Microsoft Office PowerPoint). <br />
    Размер стенда для представления материала на стендовой сессии – примерно 1 кв.м.. Рекомендуемый размер плаката A0 (1188*840 мм).<br /><br />

    <b>ПУБЛИКАЦИЯ ТРУДОВ</b><br /><br />

    К началу работы конференции будет издан сборник тезисов докладов, а также подготовлен сборник материалов на электронном носителе CD. После окончания конференции материалы докладов, оформленные в виде статей, можно будет опубликовать в специальном выпуске Журнала структурной химии, который выйдет в первом полугодии 2017 года. Статьи будут отрецензированы согласно правилам Журнала. Рукописи статей, оформленные по правилам Журнала, должны быть представлены в редакцию не позднее 1 декабря 2016 года.

</p>	

<% endblock %>