BODY { font-family: 'Open Sans'; }

.disabled { cursor: default;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #333; pointer-events:none; }
	
.rescb-head-1 { padding: 5px 0 5px 0; }
.rescb-lang { margin: 30px 0 30px 0;}
.rescb-lang  A { padding: 0px 10px 0px 0;}
.rescb-head-color { background-color: #0282C2; }
.rescb-head-2 { color: #fff; padding: 15px 0 15px 0; }
.rescb-head-2 h3 { line-height: 35px; }

.rescb-menu-left { padding: 50px 0 0 0; }
.rescb-menu-left a { display: block; padding: 5px 0 5px 0; }
.rescb-border { border-right: 1px solid #ddd; min-height: 480px;  }
.rescb-content { padding: 50px 0 50px 50px; line-height: 25px; }

.rescb-footer-color { background-color: #282C33; }
.rescb-footer { height: 70px; color: #A6AAAB; font-size: 16px; line-height: 70px; }